---
# tasks file for stress
- name: Update apt cache if needed
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  when: ansible_distribution == "Ubuntu"

- name: Update DNF cache if needed
  ansible.builtin.dnf:
    update_cache: true
  when: ansible_distribution == "Amazon"

- name: Install stress (Amazon)
  ansible.builtin.dnf:
    name: stress
    state: present
  when: ansible_distribution == "Amazon"

- name: Install stress (Ubuntu)
  ansible.builtin.apt:
    name: stress
    state: present
  when: ansible_distribution == "Ubuntu"
